@import './assets/styles/variables';
@import './assets/styles/colors';
@import './assets/styles/global';

body {
    margin: 0;
    font-family: $Mulish;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $white;
}
