@import './assets/styles/variables';
@import './assets/styles/colors';
@import './assets/styles/global';

body {
    margin: 0;
    font-family: $Mulish;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $white;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $Rubik;
        text-transform: uppercase;
    }
}
