@import '../../assets/styles/colors';
.message {
    width: 100%;
    display: flex;
    color: $white;
    padding: 0 0.5rem;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;

    &.info {
        background-color: $accent-blue;
    }
    &.warning {
        background-color: $orange;
    }
    &.error {
        background-color: $red;
    }

    p {
        margin-left: 0.5rem;
    }
}
